.blog-page {
  padding: 125px 0 130px 0;
}
.blog__blog-page {
  padding-bottom: 0;
}
.blog-page__general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog__title {
  color: #282938;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  max-width: 950px;
  margin-bottom: 16px;
}
.blog-page__general-features {
  gap: 10px;
  display: flex;
  margin-bottom: 32px;
}
.blog__autor-feature {
  color: #282938;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.blog__date-feature {
  color: #282938;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.blog-page__general-img {
  max-width: 100%;
  max-height: 477px;
  object-fit: cover;
  margin-bottom: 48px;
}
.blog__text-feature {
  color: #282938;
  max-width: 830px;
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.blog__link-feature {
  color: #2405f2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.blog__link-feature:hover {
  opacity: 0.8;
}
.blog__title-blog-page {
  max-width: unset;
}
@media screen and (max-width: 1000px) {
  .blog__title-general {
    font-size: 40px;
    line-height: 45px;
  }
}
@media screen and (max-width: 600px) {
  .blog__title-general {
    font-size: 25px;
    line-height: 35px;
  }
}
@media screen and (max-width: 400px) {
  .blog__title-general {
    font-size: 20px;
    line-height: 30px;
  }
}
