.container__privacy {
  max-width: 840px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
p::selection {
  color: blue;
}
.privacy {
  padding: 125px 0 130px 0;
}

.privacy__title-article {
  color: #282938;
  margin-bottom: 32px;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
}
.privacy__text-article {
  color: #282938;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 24px;
}
.privacy__item {
  list-style: inside;
  color: #282938;
  text-align: justify;
  margin-bottom: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
@media screen and (max-width: 500px) {
  .privacy__title-article {
    font-size: 26px;
    line-height: 30px;
  }
}
